django-auth-ldap==1.2.7
django-crispy-forms==1.7.2
django-dbbackup==3.2.0
django-extensions==2.0.7
django-filter==1.1.0
django-queryset-csv==1.0.1
djangorestframework==3.8.2
djangorestframework-filters==0.10.2
django-redis
dnspython
gevent
gunicorn[gevent]
requests==2.19.1
pyaml
python-ldap
py-dateutil
psycopg2
coreapi