#jinja2:lstrip_blocks: True
---
- name: Ansible Virtualenvs 
  connection: local
  gather_facts: false
  hosts: localhost
  tasks:

{% for custom_venv in custom_venvs %}
    - pip:
        name: psutil {% if custom_venv.ansible_version is defined %}ansible=={{ custom_venv.ansible_version }} {% else %}ansible {% endif %}{% if custom_venv.python_modules is defined %}{% for module in custom_venv.python_modules %}{{ module }} {% endfor %}{% endif %}
        
        virtualenv: /opt/custom-venvs/{{ custom_venv.name }}
        virtualenv_python: {{custom_venv.python_version}}
        state: forcereinstall
{% endfor %}

